* {
    margin: 0;
    padding: 0;
}

body {
    /*padding-top: 200px;*/
    margin: 0;
    text-align: center;
}

header {
    background-color: rgb(0,42,57);
    color: white;
    font-size: 70px;
    text-align: left;
    padding: 50px;
}

footer {
    background-color: white;
    text-align: left;
}

img {
    margin: 15px;
    border-radius: 7px;
    max-width: 100%;
    
}

.projects {
    background-color: white;
    text-align: left;
    padding: 40px;
    line-height: 20px;
    font-weight: normal;
    
}

.ProjectIntro {
    text-align: center;
    font-Size: 30px;
}

.AboutMe {
    padding: 40px;
    background-color: rgb(0,42,57);
    display: inline-block;
    font-weight: normal;
    display: flex;
}

.AboutMeText {
    max-width: 600px;
    line-height: 25px;
    color: white;
}

.ThisWebsite {
    max-width: 1000px;
}

.ProjEuler {
    max-width: 1000px;
}
