* {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    margin: 0;
    text-align: center;
}

header {
    /* background-color: rgb(0,42,57); */
    background-color: black;
    color: white;
    font-size: 70px;
    text-align: left;
    padding: 1%;
    padding-left: 10%;
}

footer {
    background-color: white;
    text-align: left;
}

img {
    margin: 15px;
    border-radius: 7px;
    max-width: 100%;
    
}

p {
    max-width: 90%;
    color: lightgrey 
}

.projects {
    color: white;
    background-color: black;
    text-align: left;
    padding: 40px;
    line-height: 20px;
    font-weight: normal;
    
}

.ProjectIntro {
    text-align: center;
    font-Size: 30px;
}

.AboutMe {
    padding: 40px;
    /* background-color: rgb(0,42,57); */
    background-color: black;
    display: inline-block;
    font-weight: normal;
    display: flex;
}

.AboutMeText {
    max-width: 600px;
    line-height: 25px;
    color: lightgray;
}
